<h1>$task.getDescription()</h1>
<h2>Completed?:  $task.isCompleted()</h2>
<img src="http://gifsec.com/wp-content/uploads/GIF/2014/03/Happy-Success-GIF.gif?gs=a" alt="none">
<a href="/tasks/new">Add another task</a>
<a href="/tasks">All tasks</a>
